__pycache__/
docs/00-Prompt-for-ProjectAnalysis.md
src/logs/sistema.log
server.crt
server.key
.env
src/docs/00-Prompt-for-ProjectAnalysis.md
VisionArtificial.bat
static/docs/00-Prompt-for-ProjectAnalysis.md
