__pycache__/
docs/00-Prompt-for-ProjectAnalysis.md
src/logs/sistema.log
src/logs/ssl_events.log
.env
src/docs/00-Prompt-for-ProjectAnalysis.md
VisionArtificial.bat
static/docs/00-Prompt-for-ProjectAnalysis.md
server.crt
server.key
_server.key
_server.crt
server.csr
node_modules/
package-lock.json
package.json
eslint.config.mjs
.eslintrc.json
TestProject.bat
