[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
requests = "*"
websockets = "*"
mysql-connector-python = "*"
python-dotenv = "*"
schedule = "*"

[dev-packages]

[requires]
python_version = "3.9"
