/* Agrega una clase para ocultar el botón */
.hidden {
    display: none;
}

/* Otros estilos */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    border: 2px solid #000;
}

video, #image-canvas {
    width: 100%;
    max-width: 500px;
    border: 2px solid #000;
    margin: 1rem 0;
}

video, #image-canvas img {
    width: 100%;
    height: auto;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para orientación horizontal */
@media (orientation: landscape) {
    #container {
        flex-direction: row;
        justify-content: space-between;
    }

    video, #image-canvas {
        width: 48%;
    }
}
